.App_Wrapper {
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}
.HeaderBar{
    grid-row:1/2;
    background-color: #ccfcd1;

border-bottom: 1px solid green;
}
.Content{
    grid-row:2/3;
}
